body {
  padding: 0;
  margin: 0;
  /* background-color: rgba(232, 251, 255, 255); */
  /* background-image: url("nhce_bg.jpg");
  position: absolute;
  background-size: 100% 1000px;
  background-repeat: no-repeat;
  background-size: cover; */
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.flexbox {
  padding-top: 10vh;
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content : space-around;
  align-items: center;
  flex-direction: column;
}
@keyframes rot {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
.logo {
  position: relative;
  top: 20px;
  height: 150px;
  width: 115px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 2;
  animation: rot infinite 2s;
}

.login-box {
  border: solid rgba(49, 43, 98, 255) 2px;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  padding: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: space-evenly;
  z-index: 0;
}
.show-password {
  font-size: small;
  font-weight: normal;
}
.login-button-container {
  display: flex;
  justify-content: center;
}
.login-button {
  width: 100px;
  height: 120%;
  background-color: rgba(49, 43, 98, 255);
  color: white;
  border-radius: 20px;
}

.login-button:hover {
  transform: scale(1.1) translateY(-2px);
  cursor: pointer;
}

.login-button:active {
  opacity: 0.9;
}
.box {
  height: 7%;
  width: 98%;
  border-radius: 10px;
}
.college {
  position: absolute;
  width : 100%;
  height: 100%;
}
p {
  color: blue;
}
.data {
  display: none;
}

@media only screen and (max-width : 500px){

  body{
    overflow-x: hidden;
  }
  .logo{
    width : 20vh;
    height: 20vh;
  }

  .login-box{
    width : 60vw;
    height: 40vh;
    gap : .001em;
  }

  .college{
    position : absolute;
    object-fit: cover;
    object-position: -320px 0;
  }
}
