*{
    padding : 0;
    margin : 0;
    font-family: 'lora', serif;
}
body{
    background-color: white;
}


.body-flexbox{
    display: flex;
    flex-direction: column;
}


.navbar-flexbox{
    display : flex;
    flex-direction: row;
    gap : 20em;
    padding-left: 2em;
    align-items: center;
    background-color: rgb(58, 16, 120);
    height: 10vh;
    color : white;
    font-size : 1.2em;
}

.navbar-flexbox label{
    font-size : 1.4em;
    color : gold;
}

.navbar-flexbox li{
    display : inline;
    padding : 0 1em;
}
#navbar-ul{
    background-color:rgb(58, 16, 120);
}
.menu{
    display: none;
}
.navbar-flexbox a{
    text-decoration: none;
    color : white;
}
.intro-bg{
    position: relative;
    height: 60vh;
    width: 100%;
    object-fit: cover;
}
.intro-flexbox{
    position : absolute;
    top : 10vh;                 /*using position absolute and to make it come below navbar*/
    height: 60vh;
    width : 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : white;
}

.intro-flexbox label{
    font-size : 3em;
    padding: .5em 0;
    border-top : solid 2px gold;
    border-bottom : solid 2px gold;
    margin-bottom : 1em;

}
.intro-flexbox p{
    font-size : .7em;
}

.main-flexbox{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items : center;
    width : 60vw;
    margin : 10vh 20vw;
}

.main-item label{
    font-size : 2em;
    padding: .3em 0;
    border-top : solid 2px gold;
    border-bottom : solid 2px gold;
    margin-bottom : 1em;
    color : white;

}

.main-item{
    width : 25em;
    height : 15em;
    background-size: cover;
    margin : 1em;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.xerox-kit{
    background-image: url("../assets/xerox-kit.avif"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
}

.calendar{
    background-image: url("../assets/calendar.jpeg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
}

.stationary{
    background-image: url("../assets/stationary.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
}

.canteen{
    background-image: url("../assets/canteen.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
}


@media only screen and (max-width : 950px){

.body-flexbox{
    justify-content: flex-start;
    height: auto;
}
.navbar-flexbox{
    width : 100%;
    height: 10vh;
    padding : 0;
}

.navbar-flexbox label{
    white-space : nowrap;
    position: relative;
    left : 2vh;
}

.navbar-flexbox ul{
    display: block;
    width: 100%;
    top : 10vh;
    position: absolute;
    right: 0px;
}

#navbar-ul{
    background-color:rgb(58, 16, 120);
    height: 10.1vh;
    padding : 0;
    margin : 0;
    top : 9.9vh;
}
.navbar-flexbox li{
    display: block;
    color : white;
}


.menu{
    display: block;
    height: 5vh;
    width: 5vh;
    position : absolute;
    right: 2vw;
}

.intro-bg{
    display: block;
    top: 0vh;
    transition: 0.5s;
}
.intro-flexbox{
    top : 10vh;
    transition: 0.5s;
}

.main-flexbox{
    position: relative;
    transition: 0.5s;
}

}

@media only screen and (min-width: 500px) and (max-width : 1300px) {
    .main-flexbox {
      width: 90%;
      margin: 2% 5% 2% 5%;
    }
    .main-item {
      width: 10em;
      height: 10em;
      padding: 0 20% 0 20%;
      /* background-size: cover; */
      margin: 2% 5%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }