* {
  padding: 0;
  margin: 0;
  font-family: "lora", serif;
}
body {
  background-color: white;
}

.body-flexbox {
  display: flex;
  flex-direction: column;
}

.navbar-flexbox {
  display: flex;
  flex-direction: row;
  gap: 20em;
  padding-left: 2em;
  align-items: center;
  background-color: rgb(58, 16, 120);
  height: 10vh;
  color: white;
  font-size: 1.2em;
}

.navbar-flexbox label {
  font-size: 1.4em;
  color: gold;
}

/* .navbar-flexbox li{
    display : inline;
    padding : 0 1em;
} */
#navbar-ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(58, 16, 120);
  gap: 3em;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.top-border {
  width: 0%;
  height: 1px;
  background-color: gold;
}

.bottom-border {
  width: 0%;
  margin-left: 0%;
  height: 1px;
  background-color: gold;
}

.menu {
  display: none;
}
.navbar-flexbox a {
  text-decoration: none;
  color: white;
}
.nav-item:hover .top-border {
  animation: top-border-animation 0.5s ease-out forwards;
}
.nav-item:hover .bottom-border {
  animation: bottom-border-animation 0.5s ease-out forwards;
}

@keyframes top-border-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes bottom-border-animation {
  from {
    margin-left: 100%;
    width: 0%;
  }
  to {
    margin: 0%;
    width: 100%;
  }
}

/* css for mobile */

@media only screen and (max-width: 950px) {
  .body-flexbox {
    justify-content: flex-start;
    height: auto;
  }
  .navbar-flexbox {
    width: 100%;
    height: 10vh;
    padding: 0;
  }

  .navbar-flexbox label {
    white-space: nowrap;
    position: relative;
    left: 2vh;
  }

  .navbar-flexbox ul {
    display: block;
    width: 100%;
    top: 10vh;
    position: absolute;
    right: 0px;
  }

  #navbar-ul {
    background-color: rgb(58, 16, 120);
    height: 10.1vh;
    padding: 0;
    margin: 0;
    top: 9.9vh;
    flex-direction: column;
    gap: 0;
    font-size: 1em;
  }
  .navbar-flexbox li {
    display: block;
    color: white;
    padding-left: 2vw;
  }
  .menu {
    display: block;
    height: 5vh;
    width: 5vh;
    position: absolute;
    right: 2vw;
  }
}

/* img to pdf  */

.nav {
  padding: 0.5rem 1rem;
  background: white;
  border-bottom: 1px solid rgb(245, 244, 244);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
  color: gold;
}
#convertBtn,
#upload-msg,
#download {
  border-color: gold;
  outline: none;
  background: rgb(89, 150, 248);
  color: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-right: 2rem;
}
#download,
#convertBtn {
  display: none;
}

.input-page {
  position: relative;
  top: 0;
}
.add-more-files {
  width: 50vw;
  border-radius: 0.3rem;
  padding: 3rem;
  margin: 5rem auto;
  text-align: center;
  background: rgba(230, 230, 250, 0.13);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inp-container {
  cursor: pointer;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(124, 124, 145, 0.1) 0px 16px 48px;
  height: 15rem;
  background: rgba(154, 127, 228, 0.068);
  width: 15rem;
  border-radius: 50%;
  border: 1px dashed gold;
  margin: auto;
  border-width: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#upload-file {
  opacity: 0;
  display: block;
  height: 16rem;
  width: 100%;
  position: absolute;
  cursor: pointer;
}
.img-icon {
  color: rgba(128, 144, 238, 0.596);
}
#custom-file {
  color: rgb(96, 102, 155);
  position: relative;
  top: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

.drop {
  margin-top: 3rem;
  font-size: 1rem;
  color: rgb(108, 107, 175);
}

.pdf-page {
  z-index: -1;
  min-height: 90%;
  width: 100%;
  display: none;
  overflow: hidden;
}
.create-pdf {
  position: relative;
  padding: 1rem;
  margin: auto;
}
.file-item {
  padding: 0 1rem;
  background: none;
  text-align: center;
  position: relative;
  width: 10rem;
  height: 16rem;
  text-align: center;

  margin: 1rem;
  display: inline-block;
  transition: 0.3s all ease-in-out;
  box-shadow: gold 0px 3px 8px;
}
.modify button {
  padding: 0.3rem;
  font-size: 1rem;
  color: rgb(250, 64, 64);
  border-radius: 50%;
}
.img-container {
  width: 8.5rem;
  margin: auto;
  height: 11rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img {
  position: relative;
  max-width: 9rem;
  max-height: 11rem;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.1rem solid rgb(223, 222, 222);
}
.file-item button {
  margin: 0 0.2rem;
  background: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  padding: 0.3rem 0.5rem;
}
.file-item button:hover {
  background: rgb(224, 248, 251);
}
.file-item:hover button {
  opacity: 1;
}
.delete {
  pointer-events: none;
}
#img-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 8.5rem;
  text-align: center;
  margin: 1rem auto;
}

.add-more-file {
  padding: 0 1rem;
  background: none;
  text-align: center;
  position: relative;
  margin: 0.5rem;
  display: inline-block;
  transition: 0.3s all ease-in-out;
  width: 10rem;
  height: 16rem;
  vertical-align: top;
}
.inp-cont {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  border-radius: 50%;
  position: relative;
  text-align: center;
  border: none;
  background: rgb(241, 246, 246);
  width: 9rem;
  height: 9rem;
  margin: 3rem auto;
}
#inp {
  opacity: 0;
  display: block;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.create-pdf .add-more-file p {
  position: relative;
  top: -3.5rem;
}
